

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.shape-container {
    display: flex;
    align-items: center;
    justify-content: center;
   /* position: relative;*/
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
}

.shape {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transition: transform 0.5s ease-in-out;
}
.quote {
    width: 730px;
    height: 45px;
    flex-shrink: 0;
    text-align: center;
    font-size: 3em;
    color: #090909;
    margin-bottom: 100px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn {
padding: 10px 25px;
flex-shrink: 0;
border-radius: 25px;
background-color: #ff9a9e;
font-size: 1em;
margin-bottom: 100px;
}

.btn:hover {
    background-color:#eee9e9;
}

.h6{
    margin-top: 100px;
    color: #ff9a9e;
}
